<h1>Curry Photoに新しく写真が投稿されました！</h1>

<p>写真:<%= @picture.image_url %></p>
<p>ユーザー名:<%= @picture.user.name %></p>
<p>タイトル:<%= @picture.title %></p>
<p>本文:<%= @picture.content %></p>

<p>
  <%= link_to '投稿された写真はこちら', pictures_url %>
</p>